.detail_card_container{
    position: absolute;
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    z-index: 999;
    margin-left: 15%;
    margin-top: 8%;
}

.detail_card_top_bar{
    height: 5%;
    display: flex;
    justify-content: right;
    padding-top: 1%;
    padding-right: 1%;
}

.detail_card_body{
    display: flex;
    height: 95%;
    width: 100%;
}

.closed_button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.closed_button:hover{
    background-color: gainsboro;
}

.detail_card_body_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    color: black;
    margin-left: 3%;
}

.detail_card_body_right{
    color: black;
    width: 60%;
    height: 98%;
    overflow-y: auto;
}
.detail_card_body_right::-webkit-scrollbar {
    width: 13px;
}
.detail_card_body_right::-webkit-scrollbar-thumb {
    background: rgb(127, 127, 127);
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.detail_card_body_right::-webkit-scrollbar-track{
    border-radius: 10px;
}

.detail_card_title{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
}

.detail_card_background{
    width: 80%;
    padding-left: 10%;
}

.detail_card_extra{
    width: 80%;
    padding-left: 10%;
}