.skill_box {
    width: 30vw;
    background-color: navy;
    border-radius: 10px;
    margin-right: 2%;
    margin-bottom: 8%;
}

.skill_box_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill_box_icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
