.slide_container{
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
}

.css-1fzpoyk{
    width: 33%;
    height: 100%;
}

.project_header{
    width: 100%;
    height: 30%;
}

.project_body{
    display: flex;
    width: 100%;
    height: 70%;
}

.project_body_left{
    background-color: rgb(1, 1, 81);
    width: 30%;
    height: 100%;
    color: white;
}

.project_body_right{
    width: 70%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}