.category_button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid white;
    width: 60%;
    height: 12%;
    font-weight: 700;
    color: white;
    z-index: 100;
}
.category_button:hover{
    background-color: gainsboro !important;
    color: black !important;
}

@media (max-width: 480px) {
    .category_button{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: inherit;
        border-radius: 10px;
        border: 1px solid white;
        width: 30%;
        height: 50%;
        font-weight: 700;
        color: white;
        z-index: 100;
    }
    .category_button:hover{
        background-color: white !important;
        color: rgb(0, 0, 85) !important;
    }
}
