.nav_bar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    z-index: 999;
}

.logo {
    padding-left: 5%;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
}

.nav_bar_buttons{
    padding-right: 5%;
    display: flex;
}

.nav_bar_button{
    padding: 20px;
    font-weight: 600;
    cursor: pointer;
}

.nav_bar_button:hover{
    font-weight: 600;
    color:navy;
}