.profile_picture{
    width: 35vh;
    height: 35vh;
    border-radius: 35vh;
    background-color: aliceblue;
    margin-right: 5%;
}

@media (max-width: 480px) {
    .profile_picture{
        width: 25vh;
        height: 25vh;
        border-radius: 25vh;
        background-color: aliceblue;
        margin-left: 5%;
    }
}